<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <% @stories.each do |story|  %>
        <%= image_tag story.avatar.url, alt: 'story', class: "story-image" %>
      <% end %>
    </div>
  </div>
</div>
