<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row user-info">
        <div class="col-4">
          <%= profile_picture(current_user, 150, 150, '') %>
        </div>
        <div class="col-8">
          <% user_info = [current_user, current_user.posts.count, current_user.total_followers, current_user.total_following, current_user.fullname] %>
          <%= react_component('Main', userinfo: user_info) %>
        </div>
      </div>
    </div>
  </div>
</div>

