//= require_tree
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
.profile-pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.img-circle{
  border-radius: 50%;
}
.liked{
  color: red;
}
.profile-username{
  display: inline;
}
.m-top-15{
  margin-top: 15px;
}
.m-top-30{
  margin-top: 30px;
}
.m-bot-30{
  margin-bottom: 30px;
}
.m-bot-0{
  margin-bottom: 0px;
}
