.liked{
  color: red;
}
.comments-scroll{
  max-height: 240px;
  overflow: scroll;
}
.comment-time{
  font-size: 12px;
}
.comments-scroll::-webkit-scrollbar {
  display: none;
}
.comments-scroll {
  scrollbar-width: none;  /* Firefox */
}
.story{
  border: 1px solid rgb(228, 228, 228);
  padding: 20px;
  margin-bottom: 20px;
}
.post{
  overflow: hidden;
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 20px;
}
.post-header{
  margin: 15px;
}
.username-post-header{
  margin-left: 15px;
}
.post-responses, .post-footer, .post-comment, .post-comments{
  margin: 15px 15px 0px 15px;
}
.like-btn, .comment-btn{
  color: rgb(201, 201, 201);
}
.comment-btn{
  margin-left: 10px;
  color: black !important;
}
.comment-submit-btn{
  margin-left: 10px;
}
.post-image, .post-image-show{
  width: 100%;
  height: auto;
  object-fit:cover;
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
}
.show-image{
  max-width: 350px;
  height: auto;
}
.post-image-show{
  border: none;
}
.post-responses-show, .post-footer-show, .post-comment-show{
  margin-top: 15px;
}
.post-comment, .post-comment-show{
  margin-bottom: 15px;
}
.post-submit-btn{
  margin-top: 10px;
}
h2{
  text-align: center;
}
.stats{
  margin-top: 20px;
}
.user-info{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(228, 228, 228);
}
.edit-profile-btn{
  background-color: white !important;
  color: black !important;
  border: 1px solid rgb(228, 228, 228) !important;
  margin-left: 30px;
  vertical-align: text-bottom;
}
.edit-profile-btn:hover{
  color: white !important;
  background-color: rgb(168, 168, 168) !important;
}
