.profile-pic-users{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.border-around{
  border: 1px solid rgb(182, 182, 182);
}
h3{
  text-align: center;
}
.searched-user{
  margin: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.follow-btn{
  margin-left: 30px;
  vertical-align: text-bottom;
}
.follow-form{
  display: inline;
}
